#newsletter{
  display:flex;
  justify-contents:space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("");
  background-repeat:no-repeat;
  background-position: 20% 30%;
  background-color: #000000cf;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color:#fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 700;
  color:#083d87;
}
#newsletter p span{
 
  color:#ffbd27;
}
#newsletter input {
height: 3.125rem;
padding:0 1.25em ;
font-size: 14px;
width: 100%;
border: 1px solid transparent;
border-radius: 4px;
outline: none;
border-top-right-radius: 35px;
border-bottom-right-radius: 35px;
border-top-left-radius: 35px;
border-bottom-left-radius: 35px;
}
#newsletter button{
  background-color: #635ac5;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 35px;
border-bottom-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-right-radius: 35px;
}
#newsletter .form{
  display: flex;
  width: 40%;
}