@import url('https://fonts.googleapis.com/css?family=Spartan');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Spartan',sans-serif;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
}

h6{
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

body{
  width: 100%;
}
